@charset "UTF-8"; 
body{
 background-color:#3094cf;
 background-image:url(../img/puttyo.jpg);
 
 }
h1 span{
    font-size: 1.75em;
    color:#3399cc;
    text-align:left;
}

h2{
    font-size: 1.25em;
    border: #94c8b1 6px dotted;
    border-left:#d0e35b 15px solid;
    margin-bottom: 2;
    padding: 10px 15px;
}
#lead{
    border-top: #6fbb9a 1px dotted;
    text-align: center;
}
. read{
    border-top: #6fbb9a 1px dotted;
….
    text-align: center;
}
h4{
 font-size:5.00em;
 color:#111111;
}


p{
    font-size: 0.8em;
}
li{
    font-size: 0.8em;
}

a{
   
 }


    
